.react-add-to-calendar {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    position: relative;
    display: inline-block;
    margin: 0 auto;
  }
  .react-add-to-calendar__wrapper {
    zoom: 1;
    cursor: pointer;
    border-radius: 18px;
    border: 1px solid rgb(225,232,237);
    display: flex;
    width: 180px;
  }
  .react-add-to-calendar__button {
    padding: 10px;
    border-radius: 3px;
    color: #000;
  }
  .react-add-to-calendar__button--light {
    /* background-color: #fff; */
  }
  .react-add-to-calendar__icon--right {
    padding-left: 5px;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .react-add-to-calendar__icon--left {
    padding-right: 5px;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .react-add-to-calendar__dropdown {
    position: absolute;
    top: 40px;
    left: 7px;
    width: 93%;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .15);
    /* border: 1px solid #a8a8a8; */
    background-color: #fff;
    text-align: left;
    border-radius: 5px;
  }
  .react-add-to-calendar__dropdown ul {
    list-style: none;
    margin: 0;
    height: 90px;
  }
  .react-add-to-calendar__dropdown ul li a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
  }
  .react-add-to-calendar__dropdown ul li {
    height: 30px;
    padding-left: 10px;
    cursor: pointer
  
  }
  .react-add-to-calendar__dropdown ul li:hover {
    background-color: rgb(225,232,237);
  }
  .react-add-to-calendar__dropdown ul li a i {
    padding-right: 10px;
    display: none;
  }