<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta property='fb:app_id' content='<%= htmlWebpackPlugin.options.facebookAppId %>'>
  <meta
    name='google-signin-client_id'
    content='<%= htmlWebpackPlugin.options.googleClientId %>'
  >
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link
    rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700'
  >
  <link
    rel='stylesheet'
    href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'
    integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp'
    crossorigin='anonymous'
  >
  <link
    rel='shortcut icon'
    type='image/x-icon'
    href='/static/favicon.ico'
  >
  <link
    rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css'
  >
  <% if (htmlWebpackPlugin.options.nodeEnv === 'production') { %>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5SWB7HQ');
    </script>
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2095734964083158');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img
        height='1'
        width='1'
        src='https://www.facebook.com/tr?id=2095734964083158&ev=PageView
      &noscript=1'
      />
    </noscript>
  <% } %>
  <title>Juven Manager</title>
</head>
<body>
  <div id='app'>
    <div style='position: absolute;width: 100%;height: 100%;left: 0;top: 0;min-height: 100vh;'>
      <i
        className='fas fa-spinner fa-pulse fa-3x fa-fw'
        style='position: absolute;left: 50%;top: 50%;width: 72px;height: 72px;margin: -36px 0 0 -36px;font-size: 72px;'
      >
      </i>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js'></script>
  <% if (htmlWebpackPlugin.options.nodeEnv === 'production') { %>
    <noscript>
      <iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-5SWB7HQ'
        height='0'
        width='0'
        style='display: none;visibility: hidden;'
      >
      </iframe>
    </noscript>
    <script type='text/javascript'>
      _linkedin_partner_id = "292107"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type='text/javascript'>
      (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
      <img
        height='1'
        width='1'
        style='display: none;'
        alt=''
        src='https://dc.ads.linkedin.com/collect/?pid=292107&fmt=gif'
      />
    </noscript>
  <% } %>
  <script src='https://js.stripe.com/v3/'></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '<%= htmlWebpackPlugin.options.facebookAppId %>',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.11'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src='https://apis.google.com/js/platform.js'></script>
  <script>
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/<%= htmlWebpackPlugin.options.intercomAppId %>';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
  </script>
  <script src='https://cdn.jsdelivr.net/npm/canvas-toBlob@1.0.0/canvas-toBlob.min.js'></script>
</body>
</html>